<%= form_for(@fichas_pt) do |f| %>
  <% if @fichas_pt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fichas_pt.errors.count, "error") %> prohibited this fichas_pt from being saved:</h2>

      <ul>
      <% @fichas_pt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ficha_id %><br>
    <%= f.number_field :ficha_id %>
  </div>
  <div class="field">
    <%= f.label :pt_id %><br>
    <%= f.number_field :pt_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
