<%= bootstrap_form_for(@ficha) do |f| %>
  <% if @ficha.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ficha.errors.count, "error") %> prohibited this ficha from being saved:</h2>

      <ul>
      <% @ficha.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :des %>
    <%= f.number_field :pv %>
    <%= f.text_field :imagen_fn %>
    <%= f.text_field :model3d %>
    <%= f.collection_check_boxes(:pt_ids, @pts, :id,:des)%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
