<div id="pts" class="container">
  <div class="row">
    <% n=0 %>
    <% @fichas.each do |ficha| %>
    <% if n%6 == 0 then %>
  </div>
  <div class="row">
    <% end %>
    <% n+=1 %>
    <div class="col-xs-6 col-sm-4 col-md-2">
      <div class="fotos">
      <%= link_to(ficha) do %>
        <%= image_tag ficha.imagen_fn, class:"img-responsive foto" %>
      <% end %>
      &nbsp;
      <strong>
          <%= ficha.des %>
      </strong> | precio:
      <%= ficha.pv %>
      <br>
      &nbsp;
      <%= link_to(ficha) do %>
      <span class="glyphicon glyphicon-info-sign"></span>
      <% end %>
      <%= link_to(edit_ficha_path(ficha)) do %>
      <span class="glyphicon glyphicon-pencil"></span>
      <% end %>
      <%= link_to(ficha, method: :delete, data: { confirm: '¿Estas seguro?' }) do %>
      <span class="glyphicon glyphicon-trash"></span>
      <% end %>
      </div>
    </div>
    <% end %>
  </div>

  <%= link_to(new_ficha_path) do %>
  <span class="glyphicon glyphicon-plus"></span>
  <% end %>
</div>
