<div class="row">
  <div class="col-sm-10" id="models">
    <%= content_tag :div, class:"model model3d", id:"model"+@ficha.id.to_s,
        'data-fid' => "model"+@ficha.id.to_s, 'data-model3d' => @ficha.model3d do %>
      <%= image_tag "model_base.jpg", class:"img-responsive foto" %>
    <% end %>
  </div>
  <div class="col-sm-2">
    <h4>
        <%= @ficha.des %>
    </h4>
    <p>
      <strong>Precio de venta:</strong>
      <%= @ficha.pv %>
    </p>
  </div>
</div>

<%= link_to(edit_pt_path(@ficha)) do %>
    <span class="glyphicon glyphicon-pencil"></span>
<% end %>

  <%= link_to(:back) do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
  <% end %>
