<%= bootstrap_form_for(@pt) do |f| %>
  <% if @pt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pt.errors.count, "error") %> prohibited this pt from being saved:</h2>

      <ul>
      <% @pt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :des %>
    <%= f.text_field :imagen_fn %>
    <%= f.text_field :model3d_fn %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
