<h1>Listing pts</h1>

<table>
  <thead>
    <tr>
      <th>Des</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pts.each do |pt| %>
      <tr>
        <td><%= pt.des %></td>
        <td><%= link_to 'Show', pt %></td>
        <td><%= link_to 'Edit', edit_pt_path(pt) %></td>
        <td><%= link_to 'Destroy', pt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pt', new_pt_path %>
