<h1>Lista de pts</h1>



<div id="pts" class="container">
  <div class="row">
    <% @pts.each do |pt| %>
    <div class="foto col-xs-6 col-sm-4 col-md-2">
      <%= pt.des %>
      <%= image_tag "teapots.jpg", class:"img-responsive" %>
      <%= link_to(pt) do %>
      <span class="glyphicon glyphicon-info-sign"></span>
      <% end %>
      <%= link_to(edit_pt_path(pt)) do %>
      <span class="glyphicon glyphicon-pencil"></span>
      <% end %>
      <%= link_to(pt, method: :delete, data: { confirm: 'Are you sure?' }) do %>
      <span class="glyphicon glyphicon-trash"></span>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Pt', new_pt_path %>

<br>
