<div id="pts" class="container">
  <div class="row">
    <% n=0 %>
    <% @pts.each do |pt| %>
    <% if n%4 == 0 then %>
  </div>
  <div class="row">
    <% end %>
    <% n+=1 %>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="fotos">
      <%= link_to(pt) do %>
        <%= image_tag pt.imagen_fn, class:"img-responsive foto" %>
      <% end %>
      &nbsp;
      <%= pt.des %>
      <br>
      &nbsp;
      <%= link_to(pt) do %>
      <span class="glyphicon glyphicon-info-sign"></span>
      <% end %>
      <%= link_to(edit_pt_path(pt)) do %>
      <span class="glyphicon glyphicon-pencil"></span>
      <% end %>
      <%= link_to(pt, method: :delete, data: { confirm: 'Are you sure?' }) do %>
      <span class="glyphicon glyphicon-trash"></span>
      <% end %>
      </div>
    </div>
    <% end %>
  </div>

  <%= link_to(new_pt_path) do %>
  <span class="glyphicon glyphicon-plus"></span>
  <% end %>
</div>
