<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-sm-10">
      <%= content_tag :div, class:"fotos model3d", id:"modelPt"+@pt.id.to_s,
        'data-fid' => "modelPt"+@pt.id.to_s, 'data-model3d' => @pt.model3d_fn do %>
        <%= image_tag "model_base.jpg", class:"img-responsive foto" %>
      <% end %>
    </div>
    <div class="col-sm-2">
      <% if @pt.fichas %>
        <% @pt.fichas.each do |ficha| %>
        <div class="row">
          <div class="col-xs-4">
              <div class="fotos">
            <%= image_tag ficha.imagen_fn, class:"img-responsive foto" %>
              </div>
          </div>
          <div class="col-xs-8">
            <%= link_to(ficha_path(ficha)) do %>
            <%= ficha.des %>
            <% end %>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= link_to(edit_pt_path(@pt)) do %>
    <span class="glyphicon glyphicon-pencil"></span>
<% end %>
<%= link_to(pts_path) do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
<% end %>
